@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: Oswald, Verdana, Tahoma, sans-serif;
    font-size: clamp(1rem, 3vw, 2rem);
    background-image: url('/imagenes/fondo.jpg'); /* imagen de fondo */
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

header {
    border: 1px solid rgb(0, 255, 98); 

}

li {
    display: inline;
}

ul {
    list-style-type: none;
}

a {
text-decoration: none;
color: whitesmoke;
}

.header_flex {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

main {
    border: 1px solid blue; 
    padding: 1%;
}

section {
    border: 1px solid gold;
    border-radius: 4px; 
}

footer {
    border: 1px solid blue;
    background-color: #f0f0f0; 
    padding: 20px; 
    text-align: center; 
}

.presentacion {
padding: 4% 15%;
background-color: cornflowerblue;
text-align: center;
}

textarea {
    font-family: Oswald, Verdana, Tahoma, sans-serif;
}

.form_container {
text-align: center;
}

.tradingview-widget-container {
    text-align: center;
    }

.frases_cont h2 {
    text-align: center;
}

.grid_comentarios {
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
    'item1 item1 item1'
    'item2 item3 item4  '
    'item2 item5 item5  ';

    background-color: #e8eee7e3; /* Color de fondo frases*/
    padding: 20px; 
    border-radius: 10px; 
}

.grid_comentarios > div {
    border: 1px solid blue;
    padding: 5%;
    
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

/* Medias Queries */ 

@media (720px < width <= 1080px) {
    body {
        background-color: rgba(245, 245, 245, 0.555);
    }
    .grid_comentarios{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'item1 item1'
        'item2 item2'
        'item3 item3'
        'item4 item4'
        'item5 item5';
    }
}